$size__site-main: 100%;
$size__site-sidebar: 25%;

$size__max-width: 960px;
$size__max-width--big: 1192px; // 1124px
$size__max-width--small: 728px;

$footer__height: 150px;

$bp__xxs: 375px;
$bp__xs: 425px;
$bp__sm: 576px;
$bp__md: 768px;
$bp__lg: 1024px;
$bp__xl: 1200px;
$bp__xxl: 2000px;