.menu {
  list-style: none;
  margin: 0;
  padding-left: 0;

  a:hover,
  a:focus,
	a:active {
    text-decoration: none;
		outline: 0;
	}
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "_content-navigation";

/*--------------------------------------------------------------
## Subpages Navigation on Page
--------------------------------------------------------------*/
@import "_subpages-navigation";

/*--------------------------------------------------------------
## Icon Navigation Menu
--------------------------------------------------------------*/
@import "_icon-navigation";
